/**
 * author : yangbo
 * date : 2021/07/16 16:24:37
 * fileName: index.less
 * description : 
**/

.tree_list {
    padding: 20px;
    background: #ddd;
    cursor: default;
    user-select: none;
}

.item {
    padding-left: 15px;
}

.item_base {
    cursor: pointer;

    &:hover {
        background: #efefef;
    }
}

.item_act {
    background: #efefef;
}

.item_dis {
    color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}